.container{
  width: 1920px;
  display: flex;
  justify-content: center;
  .container_items{
    margin-top: 200px;
    background-color: #fff;
    padding: 25px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 500px;

    .add_button{
      width: 155px;
      height: 32px;
      background-color: #84E7FD;
      border-radius: 5px;
      border: none;
      font-family: 'Montserrat', sans-serif;
      color: black;
      font-weight: bolder;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
    }
    .title{
      font-size: 30px;
      font-weight: 600;
      color: #84E7FD;
    }
  }
}

