.input_container{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  input{
    width: 300px;
    height: 30px;
    outline: none;
    border:2px solid #84E7FD;
    border-radius: 5px;
    padding-left: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: black;
  }
  input:hover{
    border:2px solid #5960FA;
  }
}

.button_container{
  margin-top: 20px;
  display: flex;
  justify-content: center;

  button{
    width: 155px;
    height: 32px;
    background-color: #84E7FD;
    border-radius: 5px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-weight: bolder;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
  }
  button:hover{
    background-color: #5960FA;
    color: white;
  }
}

.file_container{
  display: flex;
  font-size: 12px;
  font-weight: bolder;
  align-items: center;
  .file_name{
    width: 150px;
    margin-top: 7px;
    margin-left: 15px;
  }
}

label{
  font-size: 13px;
  font-weight: bolder;
  display: flex;
  margin-top: 15px;
  cursor: pointer;
  height: 30px;
  width: 120px;
  border: 2px solid #84E7FD;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin-bottom: 5px;
  .file_upload_style {
    display: none;
  }
}