@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
body {
  margin: 0;
  background-color: #C7F5FF;
  font-family: 'Montserrat', sans-serif;
}

code {
  font-family: 'Montserrat', sans-serif;
}
